.popup__button {
  background: #000000;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 358px;
  height: 50px;
  margin: 22px auto 35px;
  padding: 0;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 26px;
    margin-bottom: 26px;
  }
}
