.body {
  background-color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 1280px;
  min-width: 320px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

@media screen and (max-width: 890px) {
  .body {
    max-width: 700px;
  }
}
