.popup__content_zoom {
    display: grid;
    grid-template-areas: ". . bclose" ". img ." ". subtitle .";
    align-self: start;
    max-width: max-content;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    .popup__content_zoom {
        grid-template-areas: ". bclose" "img img" "subtitle .";
    }
}