.cards__image {
  width: 282px;
  min-height: 282px;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}

.cards__image:hover {
  transform: scale(1.02);
  transition: visibility 0.6s, opacity 0.6s;
}
