.cards__trashicon {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    width: 18px;
    height: 20px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.cards__trashicon:hover {
    opacity: 0.6;
}