.singform__span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
